<footer class="footer bg-dark py-1 mt-auto">
    <div class="container text-center">
        <a href="https://saranmj.netlify.com/" target="_blank" class="text-muted ">© Saran Codes 2023</a>
    </div>
</footer>